footer {
  padding: 57px 0 25px 0;
}

.nav-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-foot-list {
  display: flex;
  list-style-type: none;
}
.nav-foot-item {
  margin-right: 80px;
}

.nav-foot-item a {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0A142F;
}

.nav-last-list {
  display: flex;
  list-style-type: none;
}

.footer-line {
  width: 100%;
  height: 1px;
  display: block;
  background: #01384D;
  opacity: 0.3;
  margin-top: 41px;
  margin-bottom: 25px;
}

.vizitka-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vizitka-link {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #01384D;
  opacity: 0.5;
}

@include breakpoint-down(360px) {
  footer {
  padding: 30px 20px 15px 20px;
}

.nav-foot {
  display: block;
  align-items: center;
  justify-content: space-between;
}
.nav-foot-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 30px;
}
.nav-foot-item {
  margin-right: 23px;
}

.nav-foot-item:last-child {
  margin: 0;
}

.nav-foot-item a {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #01384D;  
}

.nav-last-list {
  display: flex;
  list-style-type: none;
}

.footer-line {
  width: 100%;
  height: 1px;
  display: block;
  background: #01384D;
  opacity: 0.3;
  margin-top: 31px;
  margin-bottom: 27px;
}

.vizitka-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}

.vizitka-link {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #01384D;
  opacity: 0.5;
  text-align: center;
}
}